* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.start {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;

}




.video {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 0;
        object-fit: cover;
}

.startup {
        color: white;
        font-size: clamp(2.5rem, 8vw, 100px);
        z-index: 1;
}
.one {
        color: rgb(255, 7, 255);
}

.middle {
    position: relative;
    font-size: clamp(1rem, 4vw, 60px);
    color: white;
    z-index: 1;
    text-align: center;
    justify-content: center;
    margin: 5% 0% 0% 0%;

}

.The_moon_word {
    color:rgb(255, 7, 255); 
}

.description {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}


.moon {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 0;
    
}


.character {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    color:white;
    font-size: clamp(1rem, 3vw, 30px);
    padding: 15% 0% 15% 15%;
    margin: -3% 0% 0% 10%;

}

.two {
    position: relative;
    bottom: 2rem;
    font-weight: bold;
}



.parameters {
    font-weight: bolder;
}

.table {
    margin: 0% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 40% 40% 40%;
    gap: 30px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 200px;
    color: black;
    background: linear-gradient(rgb(96, 96, 96), white);
    text-align: center;
    border-radius: 5%;
    font-size: clamp(1rem, 3vw, 25px);
    transition: all 0.7s ease; 
}

.item:hover {
    transform: scale(1.07); 
    transition: all 0.7s ease;
}


.blackhole {
    margin-top: 300px;
    width: 100%;
    height: auto;

}

footer {
    position: relative;
    background: linear-gradient(rgb(0, 0, 0), rgb(50, 50, 50));
    color: white;
    padding: 30px 0px;
    font-size: clamp(1rem, 3vw, 25px);

    
}
.finish {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

@media (max-width: 768px){
    .table {
    margin: 0% 15%;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    }

    .startup{
        font-size: clamp(3rem, 8vw, 200px);
    }


    .video {
        width: 100%;
        min-height: 100dvh;
    }

    .blackhole {
        margin-top: 0px;
    }

    footer {
        font-size: clamp(0.8rem, 4vw, 20px);
    }
}